<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{dd-MM-yyyy HH:mm:ss} %-5level %logger.%M[%L] - %msg\n</pattern>-->
            <pattern>[BennderWeb] %-5level %class{0}.%M[%L] - %msg\n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
	
    <logger name="cl.bennder.bennderweb" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
	 
    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
